<!DOCTYPE html>
<html>
    <body>

    <h1>Lama Climate Serving Layer</h1>

    <ul>
        <li>
            <a href="/climate/view">Get Last Data</a>
        </li>
        <li>
            <a href="/climate/view/json">Get Trend Json</a>
        </li>
        <li>
            <a href="/climate/view/delete" style="color: red">Delete View Data</a>
        </li>
        <li>
            <a href="/climate/historical/measures">Get Historical Measures</a>
        </li>
        <li>
            <a href="/climate/historical/trends">Get Historical Trends</a>
        </li>
        <li>
            <a href="/shutdown" style="color: red">Close Server</a>
        </li>
    </ul>

    </body>
</html>
