body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

.text-bold{
    font-weight: bold;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {background-color: #f2f2f2;}